.App {
  max-width: 1600px;
  margin: 0 auto;
}

.play-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  background: linear-gradient(60deg, red, yellow, red, yellow, red);
  border: 2px solid gray;
  border-radius: 20px;
  font-size: 40px;
}
.front-side{
  background: rgb(241, 228, 228)
}
.compare-items {
  display:inline-block;
  padding: 20px;
  background-color: rgb(254, 217, 194);
  border: 2px dotted rgb(0, 0, 0);
  margin-right: 20px;
  min-width: 80px;
  text-align: center;
  font-weight: 600;
}
.compare-items:last-child{
  margin-right: 0px;
}
.arr-items{
  margin-bottom: 30px;
  text-align: center;
}
.play-cards-wrapper{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.incoming-cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}